@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 244, 243, 242;
  --background-end-rgb: 228, 225, 224;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 244, 243, 242;
    --background-start-rgb: 27, 24, 23;
    --background-end-rgb: 15, 12, 11;
  }
}

html, body {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-grid-layout {
  border: 1px solid #333;
}

.react-grid-item {
  border: 1px solid #333;
}
