@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 244, 243, 242; */
  --background-start-rgb: 228, 225, 224;
  --background-end-rgb: 228, 225, 224;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 244, 243, 242;
    /* --background-start-rgb: 27, 24, 23; */
    --background-start-rgb: 15, 12, 11;
    --background-end-rgb: 15, 12, 11;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#tooltip {
  box-shadow: 0px 2px 1px black;
}